# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/

# production
/build

# env
.env
.env.*
!.env.example

# vercel
.vercel

# drizzle
/drizzle/meta

# misc
.DS_Store
*.pem
npm-debug.log*
/coverage
/.idea
